:root {
  font-family: Oswald, sans-serif !important;
  line-height: 1.5;
  font-weight: 300;

  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 100%, 46%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(192, 94%, 72%, 1) 0%, hsla(248, 100%, 46%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(192, 94%, 72%, 1) 0%, hsla(248, 100%, 46%, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  background-color: #0f171f;
}

.width-100 {
  width: 100%;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgba(255,255,255,0.4);
}

.responsive .react-colorful {
  width: auto;
}

.idk {
  padding-left: 50px;
}

.MuiSlider-root {
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}



